@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  font-family: "Roboto Mono", Menlo, Monaco, monospace;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
